.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 30, 60);
}

.App-body {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info {
  font-size: 36px;
}
